Language:        Cpp
BasedOnStyle:    Microsoft
ColumnLimit:     140
IndentWidth:     4
TabWidth:        4
UseTab:          Never
BreakBeforeBraces: Allman
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignAfterOpenBracket: Align
PointerAlignment: Left
NamespaceIndentation: None
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Inline
Cpp11BracedListStyle: true
Standard: Latest
AccessModifierOffset: -4
SortIncludes: true